body {
    font-family: "Lato", sans-serif;
    background-color: #222;
    color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 15%;
    /* width: 160px; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: black; */
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 15%;
    /* margin-left: 160px; */
    /* Same as the width of the sidenav */
    /* padding: 0px 10px; */
    /* height: 100%; */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 24px;
    /* width: 25%; */
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: rgb(63, 63, 63);
    background-color: rgb(182, 182, 182);
    display: none;
    padding: 77px 20px 20px;
    height: 100%;
}

table.infoTable {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    color: #004469;
}
table.infoTable td,
table.infoTable th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    vertical-align: top;
    /* padding: 8px; */
}
table.infoTable tr:nth-child(even) {
    /* background-color: #a2c3ff; */
    /* background-color: #e8effd; */
    background-color: #d7e3fc;
    /* background-color: #afeafd; */
}
table.infoTable tr:nth-child(odd) {
    background-color: #65bff1;
}

table.listTable {
    width: 100%;
    /* border-bottom: 1px solid #222; */
    /* border: 1px solid #222; */
    border-collapse: collapse;
    /* border-collapse: separate; */
}
table.listTable td {
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
}
table.listTable th {
    text-align: left;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;

}

dt,
dh {
    font-weight: bold;
    padding-top: 20px;
    color: #005cc5;
}

h1,h2,h3 {
    color: #ad3f3f;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    background-color: #ad3f3f;
    color: #FFFFFF;
    flex: 1 1 auto
}

.card h1 {
    color: #FFFFFF;
}

.card dt, .card dh {
    color: #a9e1ff;
}

.item {
    /* margin: 10px; */
    padding: 15px;
    flex: 1 1 auto
}